---
import { Image } from "astro:assets";
import image from "../../assets/logo-r7.png";
---

<nav id="navbar">
  <div class="container-profile">
    <a href="/">
      <figure>
        <Image src={image} alt={image.src} loading="eager" />
      </figure>
    </a>
  </div>
  <div class="container-bar">
    <a href="/inventory">Inventory</a>
    <a href="/about">About</a>
    <a href="/financing">Financing</a>
    <a href="/Contact">Contact</a>
  </div>
  <div class="container-call-now">
    <button class="button-call-now">
      <figure class="svg-phone">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-phone-icon lucide-phone"
        >
          <path
            d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
          ></path>
        </svg>
      </figure>
      <span>Call Now</span>
    </button>
  </div>
</nav>

<style>
  nav {
    display: flex;
    background-color: #25283e;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .container-profile {
    width: 10rem;
    height: 5rem;
    & figure {
      margin: 0;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .container-bar {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: auto;

    & a {
      text-decoration: none;
      color: white;
      transition: 0.2s ease;

      &:hover {
        color: #005bc1;
        cursor: pointer;
      }
    }
  }

  .container-call-now {
    margin-right: 2rem;

    & button {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      background: none;
      border: 2px solid #005bc1;
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: #005bc1;
      transition: 0.2s ease;

      &:hover {
        color: white;
        background-color: #005bc1;
        cursor: pointer;
      }

      & figure {
        margin: 0;
        margin-left: 0.3rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }

      & svg {
        display: block;
        width: 16px;
        height: 16px;
      }

      & span {
        margin-left: 0.6rem;
        font-size: 15px;
        font-weight: 550;
      }
    }
  }
</style>
