---
import Hero from "./subComponents/hero.astro";
import Search from "./subComponents/search.astro";
import Featured from "./subComponents/featured.astro";
---

<div id="container">
	<main>
		<Hero />
		<Search />
		<Featured />
	</main>
</div>

<style></style>
